
.top{
    width: 100%;
    text-align: center;
    color: #fff;
    
}
.row2{
    background-color: black;
}

.slide1{
    width: 100%;
    height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/01/34/man-1866574_1280.jpg);
padding: 100px 600px 200px 100px ;
        color:white;
       
        text-align: center;
    }
      .img-carousel{
       
       
    }
    .pic{
        width: 80%;
        height: 250px;
    }
    .text{
        text-align: center;
    }
    .row1{
        padding: 20px 100px 20px 200px;
    }